app = "webuf-test"

[build]
  # يمكن تركها فارغة إذا كنت ستبني محليًا
  builder = "heroku/buildpacks:20"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]
